<div class="container-fluid" style="margin: auto; width:  50%; min-width: 600px;  margin-top: 20px;" >

  <table class="table table-light" *ngIf="showMainGroups">
    <thead class="thead-light">
    <tr>
      <th class="col-8">Promotions</th>
      <th class="col-3"><button class="btn btn-success" style="margin-right: 5px;" [routerLink]="['/group/']">+ Ajouter</button> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of groups ">
      <td [routerLink]="['/group-list',s.id]">{{s.name}}</td>
      <td>
        <button type="button" class="btn btn-warning" style="margin-right: 5px;"
                [routerLink]="['/group',s.id,'update']">Edit</button>
        <button class="btn btn-danger" (click)="deleteGroup(s.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <table class="table table-light"  *ngIf="!showMainGroups">
    <thead class="thead-light">
    <tr>
      <th class="col-8"><button class="btn btn-warning" style="margin-right: 5px;" [routerLink]="['/group-list/']">Retour</button>   Promotion : {{name}}</th>
      <th class="col-3"><button class="btn btn-success" style="margin-right: 5px;" [routerLink]="['/group/']">+ Ajouter</button> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of subGroups ">
      <td [routerLink]="['/group/', idMain,s.id,'update']">{{s.name}} </td>
      <td>
        <button type="button" class="btn btn-warning" style="margin-right: 5px;"
                [routerLink]="['/group/', idMain,s.id,'update']">Edit</button>
        <button class="btn btn-danger" (click)="deleteSubGroup(idMain, s.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>


