<div class="outer-div">
  <div class="login-form inner-div">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
      style="margin: auto; width:  50%; min-width: 800px;  margin-top: 20px;"
    >

      <h2 class="text-center" *ngIf="isCreateMode">Nouveau groupe</h2>
      <h2 class="text-center" *ngIf="!isCreateMode">Modification de {{form.name}}</h2>

      <div class="form-row">
        <div class="form-group col">
          <label>Nom</label>
          <input type="text" class="form-control" name="name" placeholder=""
                 [(ngModel)]="form.name"
                 required
                 #name="ngModel"
          >
          <div class="alert-danger" *ngIf="name.errors && f.submitted">
            <div *ngIf="name.errors['required']">Le nom est obligatoire</div>
          </div>
        </div>

        <div class="form-group col" *ngIf="isCreateMode">
          <label>Promotion</label>
          <select class="form-control" name="role" [(ngModel)]="idSelectedGroup"
                  (ngModelChange)="updateStudentChecked()"
                  required
                  #promotion="ngModel"
          >
            <option [value]="newGroup" >+ Ajouter une nouvelle promotion</option>
            <option *ngFor="let r of promotions" [value]="r.id" >
              {{r.name}}
            </option>
          </select>

          <div class="alert-danger" *ngIf="promotion.errors && f.submitted">
            <div *ngIf="promotion.errors['required']">Veuillez selectionner une promotion ou en ajouter une nouvelle</div>
          </div>
        </div>

      </div>


      <div class="form-group">
        <label>Étudiants </label>

        <table class="table table-light">
          <thead class="thead-light">
            <tr>
              <th>N°Universitaire</th>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Mail</th>
              <th>Sélection</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="checkedStudents.length==0">
              <td>vide</td>
              <td>vide</td>
              <td>vide</td>
              <td>vide</td>
            </tr>
            <tr *ngFor="let s of checkedStudents">
              <td>{{s.student.numEtu}}</td>
              <td>{{s.student.firstName}}</td>
              <td>{{s.student.lastName}}</td>
              <td>{{s.student.email}}</td>
              <td>
                <input type="checkbox" name="{{s.student.id}}" [(ngModel)]="s.checked"/>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="form-group" style="margin: auto;  width: 40%;">
        <button type="submit" class="btn btn-primary btn-block shadow-none">Enregistrer</button>
        <button class="btn btn-secondary btn-block shadow-none" [routerLink]="'/group-list'" *ngIf="isMainGroup">annuler</button>
        <button class="btn btn-secondary btn-block shadow-none" [routerLink]="['/group-list/', idMain]" *ngIf="!isMainGroup">annuler</button>
      </div>

    </form>
  </div>
</div>

